{% load staticfiles %}

    <div class="row">
        <div class="col-md-12">
            <img src=" {% static 'chemist/images/aside1.jpg' %} " class="img-responsive right-block" alt="Content at aside number 1">
       
        </div>
        <div class="col-md-12">
            <img src=" {% static 'chemist/images/aside2.jpg' %} " class="img-responsive right-block" alt="Content at aside number 1">
       
        </div>
        <div class="col-md-12">
            <img src=" {% static 'chemist/images/aside3.jpg' %} " class="img-responsive right-block" alt="Content at aside number 1">
       
        </div>
        <div class="col-md-12">
            <img src=" {% static 'chemist/images/aside4.jpg' %} " class="img-responsive right-block" alt="Content at aside number 1">
        
        </div>
    </div>
   