
{% load staticfiles %}
<div class="col-md-8 two-div container-fluid">Main Content
    {% for i in range(0,4) %}
        
    {% endfor %}
    <div class="row">
        <div class="col-md-6">
            <img src=" {% static 'chemist/images/content11.png' %} " class="img-responsive center-block" alt="Content at Cell number 11">
        </div>
        <div class="col-md-6">
            <img src=" {% static 'chemist/images/content12.png' %} " class="img-responsive" alt="Content at Cell number 12">
       
        </div>                    
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src=" {% static 'chemist/images/content21.png' %} " class="img-responsive center-block" alt="Content at Cell number 12">
       
        </div>
        <div class="col-md-6">
            <img src=" {% static 'chemist/images/content22.png' %} " class="img-responsive" alt="Content at Cell number 12">
       
        </div>                    
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src=" {% static 'chemist/images/content31.png' %} " class="img-responsive center-block" alt="Content at Cell number 12">
       
        </div>
        <div class="col-md-6">
            <img src=" {% static 'chemist/images/content32.png' %} " class="img-responsive" alt="Content at Cell number 12">
       
        </div>                    
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src=" {% static 'chemist/images/content41.png' %} " class="img-responsive center-block" alt="Content at Cell number 12">
       
        </div>
        <div class="col-md-6">
            <img src=" {% static 'chemist/images/content42.png' %} " class="img-responsive" alt="Content at Cell number 12">
       
        </div>                    
    </div>
</div> 
